/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

section .video-responsive{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

iframe
{
	height: 400;
	width: 70%;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*----------------
 	Header
----------------*/


.navbar {
    display: block;
  }

  .navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
  }
  .nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
  }
  .nav > li {
	position: relative;
	display: block;
  }
  .nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
	text-decoration: none;
  }
  .nav > li.disabled > a {
	color: #777;
  }
  .nav > li.disabled > a:hover,
  .nav > li.disabled > a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
	background-color: #eee;
	border-color: #337ab7;
  }
  .nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
  }
  .nav > li > a > img {
	max-width: none;
  }
  .nav-tabs {
	border-bottom: 1px solid transparent;
  }
  .nav-tabs > li {
	float: left;
	margin-bottom: -1px;
  }
  .nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
  }
  .nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
  }
  .nav-tabs.nav-justified {
	width: 100%;
	border-bottom: 0;
  }
  .nav-tabs.nav-justified > li {
	float: none;
  }
  .nav-tabs.nav-justified > li > a {
	margin-bottom: 5px;
	text-align: center;
  }
  .nav-tabs.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto;
  }
  @media (min-width: 768px) {
	.nav-tabs.nav-justified > li {
	  display: table-cell;
	  width: 1%;
	}
	.nav-tabs.nav-justified > li > a {
	  margin-bottom: 0;
	}
  }
  .nav-tabs.nav-justified > li > a {
	margin-right: 0;
	border-radius: 4px;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
	border: 1px solid #ddd;
  }
  @media (min-width: 768px) {
	.nav-tabs.nav-justified > li > a {
	  border-bottom: 1px solid #ddd;
	  border-radius: 4px 4px 0 0;
	}
	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
	  border-bottom-color: #fff;
	}
  }
  .nav-pills > li {
	float: left;
  }
  .nav-pills > li > a {
	border-radius: 4px;
  }
  .nav-pills > li + li {
	margin-left: 2px;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #337ab7;
	}
  .nav-stacked > li {
	float: none;
  }
  .nav-stacked > li + li {
	margin-top: 2px;
	margin-left: 0;
  }
  .nav-justified {
	width: 100%;
  }
  .nav-justified > li {
	float: none;
  }
  .nav-justified > li > a {
	margin-bottom: 5px;
	text-align: center;
  }
  .nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto;
  }
  @media (min-width: 768px) {
	.nav-justified > li {
	  display: table-cell;
	  width: 1%;
	}
	.nav-justified > li > a {
	  margin-bottom: 0;
	}
  }
  .nav-tabs-justified {
	border-bottom: 0;
  }
  .nav-tabs-justified > li > a {
	margin-right: 0;
	border-radius: 4px;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
	border: 1px solid #ddd;
  }
  @media (min-width: 768px) {
	.nav-tabs-justified > li > a {
	  border-bottom: 1px solid #ddd;
	  border-radius: 4px 4px 0 0;
	}
	.nav-tabs-justified > .active > a,
	.nav-tabs-justified > .active > a:hover,
	.nav-tabs-justified > .active > a:focus {
	  border-bottom-color: #fff;
	}
  }
  .tab-content > .tab-pane {
	display: none;
  }
  .tab-content > .active {
	display: block;
  }
  .nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	}
	
	.container {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	@media (min-width: 768px) {
		.container {
			width: 750px;
		}
	}
	@media (min-width: 992px) {
		.container {
			width: 970px;
		}
	}
	@media (min-width: 1200px) {
		.container {
			width: 1170px;
		}
	}
  .navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
  }
  @media (min-width: 768px) {
	.navbar {
	  border-radius: 4px;
	}
  }
  @media (min-width: 768px) {
	.navbar-header {
	  float: left;
	}
  }
  .navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  }
  .navbar-collapse.in {
	overflow-y: auto;
  }
  @media (min-width: 768px) {
	.navbar-collapse {
	  width: auto;
	  border-top: 0;
	  -webkit-box-shadow: none;
			  box-shadow: none;
	}
	.navbar-collapse.collapse {
	  display: block !important;
	  height: auto !important;
	  padding-bottom: 0;
	  overflow: visible !important;
	}
	.navbar-collapse.in {
	  overflow-y: visible;
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
	  padding-right: 0;
	  padding-left: 0;
	}
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
	max-height: 340px;
  }
  @media (max-device-width: 480px) and (orientation: landscape) {
	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
	  max-height: 200px;
	}
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
	margin-right: -15px;
	margin-left: -15px;
  }
  @media (min-width: 768px) {
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
	  margin-right: 0;
	  margin-left: 0;
	}
  }
  .navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
  }
  @media (min-width: 768px) {
	.navbar-static-top {
	  border-radius: 0;
	}
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
  }
  @media (min-width: 768px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
	  border-radius: 0;
	}
  }
  .navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
  }
  .navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0;
  }
  .navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
	text-decoration: none;
  }
  .navbar-brand > img {
	display: block;
  }
  @media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
	  margin-left: -15px;
	}
  }
  .navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
  }
  .navbar-toggle:focus {
	outline: 0;
  }
  .navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
  }
  @media (min-width: 768px) {
	.navbar-toggle {
	  display: none;
	}
  }
  .navbar-nav {
	margin: 7.5px -15px;
  }
  .navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
  }
  @media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
	  position: static;
	  float: none;
	  width: auto;
	  margin-top: 0;
	  background-color: transparent;
	  border: 0;
	  -webkit-box-shadow: none;
			  box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
	  padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
	  line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
	  background-image: none;
	}
  }
  @media (min-width: 768px) {
	.navbar-nav {
	  float: left;
	  margin: 0;
	}
	.navbar-nav > li {
	  float: left;
	}
	.navbar-nav > li > a {
	  padding-top: 15px;
	  padding-bottom: 15px;
	}
	}
	
	.navbar-nav > li > .dropdown-menu {
		margin-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
		margin-bottom: 0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.navbar-btn {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.navbar-btn.btn-sm {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.navbar-btn.btn-xs {
		margin-top: 14px;
		margin-bottom: 14px;
	}
	.navbar-text {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	@media (min-width: 768px) {
		.navbar-text {
			float: left;
			margin-right: 15px;
			margin-left: 15px;
		}
	}
	@media (min-width: 768px) {
		.navbar-left {
			float: left !important;
		}
		.navbar-right {
			float: right !important;
			margin-right: -15px;
		}
		.navbar-right ~ .navbar-right {
			margin-right: 0;
		}
	}
	.navbar-default {
		background-color: #f8f8f8;
		border-color: #e7e7e7;
	}
	.navbar-default .navbar-brand {
		color: #777;
	}
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		color: #5e5e5e;
		background-color: transparent;
	}
	.navbar-default .navbar-text {
		color: #777;
	}
	.navbar-default .navbar-nav > li > a {
		color: #777;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: #333;
		background-color: transparent;
	}
	nav
	{
		display: block;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	.navbar-default .navbar-nav > .disabled > a,
	.navbar-default .navbar-nav > .disabled > a:hover,
	.navbar-default .navbar-nav > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}
	.navbar-default .navbar-toggle {
		border-color: #ddd;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: #ddd;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #888;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: #e7e7e7;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: #777;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
			color: #333;
			background-color: transparent;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
			color: #555;
			background-color: #e7e7e7;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
		.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
			color: #ccc;
			background-color: transparent;
		}
	}
	.navbar-default .navbar-link {
		color: #777;
	}
	.navbar-default .navbar-link:hover {
		color: #333;
	}
	.navbar-default .btn-link {
		color: #777;
	}
	.navbar-default .btn-link:hover,
	.navbar-default .btn-link:focus {
		color: #333;
	}
	.navbar-default .btn-link[disabled]:hover,
	fieldset[disabled] .navbar-default .btn-link:hover,
	.navbar-default .btn-link[disabled]:focus,
	fieldset[disabled] .navbar-default .btn-link:focus {
		color: #ccc;
	}
	.navbar-inverse {
		background-color: #222;
		border-color: #080808;
	}
	.navbar-inverse .navbar-brand {
		color: #9d9d9d;
	}
	.navbar-inverse .navbar-brand:hover,
	.navbar-inverse .navbar-brand:focus {
		color: #fff;
		background-color: transparent;
	}
	.navbar-inverse .navbar-text {
		color: #9d9d9d;
	}
	.navbar-inverse .navbar-nav > li > a {
		color: #9d9d9d;
	}
	.navbar-inverse .navbar-nav > li > a:hover,
	.navbar-inverse .navbar-nav > li > a:focus {
		color: #fff;
		background-color: transparent;
	}
	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:hover,
	.navbar-inverse .navbar-nav > .active > a:focus {
		color: #fff;
		background-color: #080808;
	}
	.navbar-inverse .navbar-nav > .disabled > a,
	.navbar-inverse .navbar-nav > .disabled > a:hover,
	.navbar-inverse .navbar-nav > .disabled > a:focus {
		color: #444;
		background-color: transparent;
	}
	.navbar-inverse .navbar-toggle {
		border-color: #333;
	}
	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus {
		background-color: #333;
	}
	.navbar-inverse .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-inverse .navbar-collapse,
	.navbar-inverse .navbar-form {
		border-color: #101010;
	}
	.navbar-inverse .navbar-nav > .open > a,
	.navbar-inverse .navbar-nav > .open > a:hover,
	.navbar-inverse .navbar-nav > .open > a:focus {
		color: #fff;
		background-color: #080808;
	}
	@media (max-width: 767px) {
		.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
			border-color: #080808;
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
			background-color: #080808;
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
			color: #9d9d9d;
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
			color: #fff;
			background-color: transparent;
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
		.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
		.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
			color: #fff;
			background-color: #080808;
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
		.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
		.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
			color: #444;
			background-color: transparent;
		}
	}
	.navbar-inverse .navbar-link {
		color: #9d9d9d;
	}
	.navbar-inverse .navbar-link:hover {
		color: #fff;
	}
	.navbar-inverse .btn-link {
		color: #9d9d9d;
	}
	.navbar-inverse .btn-link:hover,
	.navbar-inverse .btn-link:focus {
		color: #fff;
	}
	.navbar-inverse .btn-link[disabled]:hover,
	fieldset[disabled] .navbar-inverse .btn-link:hover,
	.navbar-inverse .btn-link[disabled]:focus,
	fieldset[disabled] .navbar-inverse .btn-link:focus {
		color: #444;
	}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	Our Work Section
---------------------*/

.Ð¾ur-work{
	background-color: #fff;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #fff;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}

}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}